{% extends 'base.html' %}

{% block content %}

    <h3>Blog</h3>

    {% if user.is_authenticated %}
    <p class="badge bg-primary text-wrap" style="width: 6rem;">Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}" class="btn btn-warning">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="">Title</label>
        <br>
        <input type="text" name="title" required>
        <br>
        <label for="">Body</label>
        <br>
        <textarea name="body" id="" cols="23" rows="5" required></textarea>
        <br><br>
        <input type="hidden" name='userid' value='{{ user.id }}'>
        <input type="submit" value="Save" class="btn btn-warning">

    </form>

{% endblock content %}